/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
 #map {
	height: 80%;
  }
  /* Optional: Makes the sample page fill the window. */
  html, body {
	height: 100%;
	margin: 0;
	padding: 0;
  }

  #background {
    padding:10px;
  }

  #zoom{
    padding:10px;
  }
  #pan {
	width: 33%;
	height: 120px;
	margin: 0 auto;
  }
  #positions{
    padding:10px;
  }

#zoom-in, #zoom-out{
	float: right;
	margin-left: 5px;
}
.grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
  }
  .left{
    float: center;
    vertical-align: middle;
  }
  .right{
    float:right;
    vertical-align: middle;
  }
  .up{
    text-align: center;
    float: top;
  }
  .down{
    text-align: center;
    float:bottom; 
  }
